<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IDC Canada Address Book</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/javascript")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navigationBar" style="display:none;">
        <span class="navLink personalSettingsLink"><a class="navAction" href="@Url.Action("Index", "PersonalSettings")">My Profile</a></span>
        <span class="navLink adminBookLink" style="display:none;" ><a class="navAction" href="@Url.Action("Index", "Admin")">My AdminBook</a></span>
        <span class="navLink addressBookLink"><a class="navAction" href="@Url.Action("Index","AddressBook")">My AddressBook</a></span>

    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    
</body>
</html>
